.weather-clear {
    background-color: aqua;
    border-style: none;
}

.weather-clouds {
    background-color: grey;
    border-style: none;
}

.weather-snow {
    background-color: antiquewhite;
    border-style: none;
}

.weather-sand {
    background-color: sandybrown;
    border-style: none;
}